@page "/accounting"
@using HomeBuxgalterFront.Filters;
@using HomeBuxgalterFront.Models;
@inject RequestManager _requestManager

<h3>Accounting</h3>

@if (ReportModels == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Profits Summary</th>
                    <th>Outlays Summary</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var model in ReportModels)
            {
                        <tr>
                            <td>@model.Date.ToShortDateString()</td>
                            <td>@model.ProfitSummary</td>
                            <td>@model.OutlaySummary</td>
                            <td>@model.Balance</td>
                        </tr>
            }
            </tbody>
        </table>
}

<body>
    <table class="chiroyli-jadval">
        <thead>
            <tr>
                <th>Ustun 1</th>
                <th>Ustun 2</th>
                <th>Ustun 3</th>
                <th>Ustun 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ma'lumot 1</td>
                <td>Ma'lumot 2</td>
                <td>Ma'lumot 3</td>
                <td>Ma'lumot 4</td>
            </tr>
            <tr>
                <td>Ma'lumot 5</td>
                <td>Ma'lumot 6</td>
                <td>Ma'lumot 7</td>
                <td>Ma'lumot 8</td>
            </tr>
        </tbody>
    </table>
</body>
@code {
    private List<ReportModel>? ReportModels { get; set; } = new();
    private AccountingFilter AccountingFilter = new();

    protected override async Task OnInitializedAsync()
    {
        ReportModels = await _requestManager.
            Get<List<ReportModel>>($"/api/accounting?{AccountingFilter.ToString()}");
    }
}
