@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="row form-group">
    <div class="text-left mt-2 col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input aria-autocomplete="list" aria-labelledby="vs12__combobox"  class="vs__search">
    </div>

    <div class="text-left mt-2 col-sm-12 col-md-6 col-lg-4">
        <input type="text" placeholder="Hujjat raqami" class="form-control" >
    </div>

    <div class="text-left mt-2 col-sm-12 col-md-4 col-lg-2">
        <input aria-labelledby="vs14__combobox" aria-controls="vs14__listbox" >
    </div>

    <div class="text-left mt-2 col-sm-12 col-md-6 col-lg-4">
        <div class="d-flex"> <!--yoniga qoyish uchun class -->
            <input type="text" placeholder="Qidirish" class="mr-2 form-control" >
            <button type="button" class="btn btn-primary" style="height: 37px; white-space: nowrap;">
                Qidirish
            </button>
        </div>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
