@using HomeBuxgalterFront.Models.OutlayModels;
@inject HttpClient http
@inject RequestManager _requestManager
@page "/outlays"

<h3>Outlays</h3>

@if (_outlayList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="text-align: right; margin-top:auto">
        <a class="btn btn-success" href="/outlays/create">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profit in _outlayList)
            {
                <tr>
                    <td>@profit!.Date.ToShortDateString()</td>
                    <td>@profit.Category</td>
                    <td>@profit.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Outlay?>? _outlayList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _outlayList = await _requestManager.Get<List<Outlay?>?>($"/api/outlays");
    }
}

