@inject HttpClient http
@inject RequestManager _requestManager
@page "/outlays/categories"

<h3>Categories</h3>

@if (_outlayCategories == null)
{
            <p><em>Loading...</em></p>
}
else
{

    <div style="text-align: right; margin-top:auto">
        <a class="btn btn-success" href="/outlays/categories/create-category">Create</a>
    </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var profit in _outlayCategories)
            {
                                   <tr>
                                        <td>@profit!.Id</td>
                                        <td>@profit.Name</td>
                                   </tr>
            }
                </tbody>
            </table>
}

@code {
    private List<OutlayCategory?>? _outlayCategories { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _outlayCategories = await _requestManager.Get<List<OutlayCategory?>?>($"/api/outlays/categories");
    }
}

