@page "/outlays/categories/create-category"
@using HomeBuxgalterFront.Models;
@inject RequestManager _requestManager
@inject HttpClient _http
@inject NavigationManager _navigationManager

<h3>CreateCategory</h3>

<div class="d-flex justify-content-center" style="flex-wrap:wrap;">
    <div class="form-group row g-3 col-md-5" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">

        <EditForm Model="@_createCategoryModel" OnValidSubmit="@Create">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <h1 class="col-12" style="text-align:center">Create</h1>

            <label for="Name" style="color: @_color">Name is required</label>
            <InputText placeholder="Name" class="form-control" @bind-Value="@_createCategoryModel.Name" />

            <br />
            <button type="submit" class="btn btn-primary" @onclick="Create">Create</button>
            <br /><br />
        </EditForm>
    </div>
</div>

@code {
    private readonly CreateCategoryModel _createCategoryModel = new();
    private string? _message { get; set; }
    private bool ErrorMessage { get; set; }
    private string _color = "green";

    public async Task Create()
    {
        if (string.IsNullOrEmpty(_createCategoryModel.Name))
            _color = "red";
        else
        {
            var response = await _http.PostAsJsonAsync("/api/outlays/categories", _createCategoryModel);
            if (response.IsSuccessStatusCode)
                _navigationManager.NavigateTo("/outlays/categories");

            _message = await response.Content.ReadAsStringAsync();
        }
    }
}
